<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>Document</title>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
</head>
<style>
    body{
        background-color: rgb(244, 241, 238);
        padding: 30px;
        font-family: 'Nanum Myeongjo', serif;
    }
    #name{
        color: rgb(218, 161, 98);
        /* margin: 50px; */
    }
    #main_card{
        /* background-color: aliceblue; */
        background-color: black;
    }
</style>
<body>
    <center>
        <div id="name">
            {{ shinramg }}
            <br>
            -----
            <br>
            {{ shinboo }}
        </div>
        <div>
            <div id="main_card">
                
            </div>
        </div>
        <div>
            11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
        </div>
    </center>
</body>
</html>