<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>Document</title>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <!-- AOS 라이브러리 불러오기-->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
</head>
<style>
    body{
        max-width: 474px;
        font-family: 'Nanum Myeongjo', serif;
        margin: 0 auto;
    }
    center{
        background-color: rgb(244, 241, 238);
    }
    #name{
        color: rgb(218, 161, 98);
        font: 20px bold;
    }
    #groom{
        padding: 50px 0px 10px 0px;
    }
    #bride{
        padding: 10px 0px 30px 0px;
    }
    #main_card{
        margin-top: 30px;
        border: 10px solid white;
        width: auto;
    }
    #main_pic{
        width: 300px;
        height: 300px;
    }
    #main_container{
        background-color: white;
    }
    #pic2{
        /* width: 100vw; */
        width: auto;
    }
    #btn_modal{
        border: 1px solid rgb(218, 161, 98);
        color: rgb(218, 161, 98);
        font-size: 13px;
        border-radius: 30px;
        margin: 30px 60px;
        padding: 7px 0px;
    }
    #modal{
        width: 300px;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(244, 241, 238);
        border-radius: 10px;
    }
    #account_list{
        padding: 0px 30px;
    }
    .accodian_title{
        position: relative;
        padding: 10px 0;
        cursor: pointer;
        background-color: rgb(239, 232, 227);
    }
    .accodian_menu{
        display: none;
        overflow: hidden;
        font-size: 14px;
        background-color: white;
        padding: 27px 0;
    }
    .account{
        display: flex; 
        justify-content: space-evenly; 
        align-items: center; 
    }
    .div_account{
        padding: 10px 0px;
        display: block;
    }
    .account_name{
        margin-top: 8px;
    }
    .btn_copy{
        float: right;
    }
</style>
<body>
    <center>
        <div id="name" data-aos="fade-up", data-aos-duration="2000">
            <div id="groom">{{ groom }}</div>
            <div>-----</div>
            <div id="bride">{{ bride }}</div>
        </div>
        <div id="main_card" data-aos="fade-up", data-aos-duration="2000">
            {% if True %}
            <div>
                <img src="{{ url_for('static', filename=main_pic) }}" id="main_pic">
            </div>
            {% endif %}
            <div id="main_container">
                {{ wedding_hall }}
            </div>
        </div>
        <div data-aos="fade-up", data-aos-duration="2000">
            111111111111111 1111111111111111
        </div>
        <div data-aos="fade-up", data-aos-duration="2000">
            <img src="{{ url_for('static', filename=pic2) }}" id="pic2">
        </div>
        <div data-aos="fade-up", data-aos-duration="2000">
            <div>
                <span>냐냐, 뇨뇨</span><span>의 아들</span><span>김아무개</span>
                <a href="tel:010-1234-5678">전화</a>
            </div>
            <div>
                <span>냠냠, 뇸뇸</span><span>의 딸</span><span>이아무개</span>
                <a href="tel:010-1234-5678">전화</a>
            </div>
        </div>
        <div id="btn_modal" data-aos="fade-up", data-aos-duration="2000">
            혼주에게 연락하기
        </div>
        <div id="modal_background" style="position: fixed;background: rgba(0, 0, 0, 0.5);width: 100vw;height: 100vh; top: 0; display: none; left: 0;justify-content: center;align-items: center;text-align: center;">
            <div id="modal" class="modal-overlay" style="display: flex; background: red;">
                <div>혼주에게 연락하기</div>
                <div>
                    <span>신랑 대디</span><span>냐냐</span>
                    <a href="tel:010-1234-5678">전화</a>
                    <a href="sms:010-1234-5678">문자</a>
                </div>
                <div>
                    <span>신랑 마미</span><span>뇨뇨</span>
                    <a href="tel:010-1234-5678">전화</a>
                    <a href="sms:010-1234-5678">문자</a>
                </div>
                <div>
                    <span>신부 대디</span><span>냠냠</span>
                    <a href="tel:010-1234-5678">전화</a>
                    <a href="sms:010-1234-5678">문자</a>
                </div>
                <div>
                    <span>신부 마미</span><span>뇹뇹</span>
                    <a href="tel:010-1234-5678">전화</a>
                    <a href="sms:010-1234-5678">문자</a>
                </div>
            </div>
        </div>






        <div id="current_date_tag"></div>
        <!-- <img style="margin-left: 6px;" src="/static/images/icon_image/Calendar.png" alt="달력" /> -->
        <div data-aos="fade-up", data-aos-duration="2000" >
            <div style="display: flex; justify-content: space-between;">
                <div onclick="changeMonth(-1)">
            <!-- <img src="/static/images/icon_image/Arrow_left.png" alt="달력" /> -->
            </div> 
                <div id="current_date"></div>
             <div onclick="changeMonth(1)">
             <!-- <img src="/static/images/icon_image/Arrow_right.png" alt="달력" /> -->
            </div> 
            </div>
            <table style="width: 252px; height: 272px; margin: 14px auto; text-align: center;">
                <thead>
                    <tr>
                        <td>일</td>
                        <td>월</td>
                        <td>화</td>
                        <td>수</td>
                        <td>목</td>
                        <td>금</td>
                        <td>토</td>
                    </tr>
                </thead>
                <tbody id="tb_body">
                </tbody>
            </table>
        </div>



        <div data-aos="fade-up", data-aos-duration="2000">
            <div>마음 전하실 곳</div>
            <div id="account_list">
                <div>
                    <div class="accodian_title">
                        신랑측 계좌번호
                    </div>
                    <div class="accodian_menu">
                        <div class="account">
                            <div class="div_account">
                                <div>
                                    <div>
                                        <span>은행</span><span>{{account1}}</span>
                                    </div>
                                    <div class="account_name">
                                        <span>김아무개</span>
                                    </div>
                                </div>
                            </div>
                            <div onclick="copy_account('{{account1}}')" class="btn_copy">
                                복사하기
                            </div>
                        </div>
                        <div class="account">
                            <div class="div_account">
                                <div>
                                    <span>은행</span><span>{{account2}}</span>
                                </div>
                                <div class="account_name">
                                    <span>김아무개</span>
                                </div>
                            </div>
                            <div onclick="copy_account('{{account2}}')" class="btn_copy">
                                복사하기
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="accodian_title">
                        신부측 계좌번호
                    </div>
                    <div class="accodian_menu">
                        <div class="account">
                            <div class="div_account">
                                <div>
                                    <span>은행</span><span>{{account3}}</span>
                                </div>
                                <div class="account_name">
                                    <span>이아무개</span>
                                </div>
                            </div>
                            <div onclick="copy_account('{{account3}}')" class="btn_copy">
                                복사하기
                            </div>
                        </div>
                        <div class="account">
                            <div class="div_account">
                                <div>
                                    <span>은행</span><span>{{account4}}</span>
                                </div>
                                <div class="account_name">
                                    <span>이아무개</span>
                                </div>
                            </div>
                            <div onclick="copy_account('{{account4}}')" class="btn_copy">
                                복사하기
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                방명록
            </div>
            <div>
                123123<br>123123<br>123123
            </div>
        </div>
    </center>    
</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    const modal = document.getElementById("modal")
    const btn_modal = document.getElementById("btn_modal")

    const modal_background = document.getElementById('modal_background');

    // 모달클릭시
    btn_modal.addEventListener("click", e => {
        modal_background.style.display = 'flex';
    })
    modal_background.addEventListener("click", e => {
        if( e.target.id === 'modal_background'){
            modal_background.style.display = 'none';
        }
    })

    // 아코디언
    $(".accodian_title").click(function() {
        $(this).next(".accodian_menu").stop().slideToggle(300);
        $(this).toggleClass('on').siblings().removeClass('on');
        $(this).next(".accodian_menu").siblings(".accodian_menu").slideUp(300); // 1개씩 펼치기
    });

    // 계좌번호 복사
    function copy_account(account_num) {
        const $textarea = document.createElement("textarea");
        document.body.appendChild($textarea);
        
        $textarea.value = account_num;
        $textarea.select();

        document.execCommand('copy');
        document.body.removeChild($textarea);

        alert("계좌번호 "+account_num+"가 복사되었습니다.")
    }

    AOS.init();







// 달력 시작

// 윤년 체크
function checkedLeapYear(year){
    if(year % 400 == 0) return true;
    else if(year % 100 == 0) return false;
    else if(year % 4 == 0) return true;
    else return false;
};

// 달의 시작일이 어떤 요일(몇 번째 위치)에서 시작하는지 계산
function getFirstDayOfWeek(year, month){
    if(month < 10) {
        month = "0" + month;
    };
    return (new Date(year + "-" + month + "-01" )).getDay();
};

// 월의 마지막 일자 계산
function changeYearMonth(year, month){
    let month_day = [31,28,31,30,31,30,31,31,30,31,30,31];
    if(month == 2) if(checkedLeapYear(year)) month_day[1] = 29;
    let first_day_of_week = getFirstDayOfWeek(year, month);
    let arr_calendar = [];
    for(let i=0; i<first_day_of_week; i++){
        arr_calendar.push('');
    };
    for(let i=1; i<=month_day[month-1]; i++){
        arr_calendar.push(String(i));
    };
    let remain_day = 7 - (arr_calendar.length % 7);
    if(remain_day < 7){
        for(let i=0; i<remain_day; i++){
            arr_calendar.push('');
        };
    };
    renderCalendar(arr_calendar)

};

function renderCalendar(data){
    let h = [];
    for(let i=0; i<data.length; i++){
        if(i==0){
            h.push('<tr>');
        }else if(i % 7 == 0){
            h.push('</tr>')
            h.push('<tr>');
        };
        h.push(`<td onclick="setDate(${data[i]})"; style="cursor:pointer;">
            <div id="calendar_${current_year}_${current_month}_${data[i]}" style="position: relative;">
                ${data[i]}
            </div>
        </td>`);
    }
    h.push('</tr>');
    $("#tb_body").html(h.join(''));
}

function setDate(day){
    $('.current_day').removeClass('current_day')
    let target_date = `calendar_${current_year}_${current_month}_${day}`
    $('#'+ target_date).addClass('current_day')
    const el = document.querySelector('#parse_emotion_view');
    const sheet = el.sheet;
    const rules = sheet.cssRules;
    const rule = rules[0];
    sheet.insertRule('.current_day::after{content: "'+ day +'"; position: absolute; line-height: 29px; top: -1.5px; bottom: 0; margin: 0 auto; width: 32px; height: 32px; background: #FFE3DF; left: 0; border-radius: 50%;}', rules.length)
    if(day<10){
        day = "0" + day;
    }
    console.log(current_year, current_month, day)

}

function changeMonth(diff) {
    current_month = current_month + diff;
    if(current_month == 0){
        current_year = current_year - 1;
        current_month = 12;
    }else if(current_month === 13){
        current_year = current_year + 1;
        current_month = 1;
    }
    loadCalendar(current_year, current_month)
}

function loadCalendar(year, month){
    changeYearMonth(year, month);
    $("#current_date").text(`${year}년  ${month}월`)
    console.log(this_year, year, this_month, month)
    if(this_year === year && this_month === month){
        setDate(this_date)
    }
    
}

let current_year = (new Date()).getFullYear();
let current_month = (new Date()).getMonth() + 1;
let current_date = (new Date()).getDate();

let this_year = (new Date()).getFullYear();
let this_month = (new Date()).getMonth() + 1;
let this_date = (new Date()).getDate();

loadCalendar(current_year, current_month)
setDate((new Date()).getDate())
// 달력 만들기 끝

// 오늘 날짜 LNB에 추가하기
document.getElementById('current_date_tag').innerText = `${current_year}-${current_month}-${current_date}`
// 달력 끝




</script>
</html>