<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1. maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=divice-width, initial-scale=1">
    <title>모바일 청첩장</title>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
</head>
<style>
    body{
        background-color: rgb(244, 241, 238);
        padding: 30px;
        font-family: 'Nanum Myeongjo', serif;
        width: 768px;
    }
    #name{
        color: rgb(218, 161, 98);
    }
    #main_card{
        /* background-color: aliceblue; */
        background-color: black;
    }
</style>
<body style="width: 375px; border: 1px solid red; margin:0 auto" >
        <div id="name">
            {{ shinramg }}
            <br>
            -----
            <br>
            {{ shinboo }}
        </div>
        <div>
            <div id="main_card">
                
            </div>
        </div>
        <span>
            클레어 코딩!!! 하시죠!!
        </span>
</body>
</html>